<div fxLayout="column">
  <div class="title">
    <div style="display:inline-block">Moje bilety  </div>
    <div style="display:inline-block; float:right">Łączna liczba losów:  {{totalDrawCount | async}}</div>
  </div>

  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="4px" style="height: 350px;position:relative;">
    <div style="max-height:100%;overflow:auto;">

      <mat-card *ngFor="let ticket of tickets | async" class="ticket">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex >
          <div fxFlex="40">

            <span class="validThruDesc">
              ważny do:
            </span>
            <span class="validThru">
              {{ticket.validThru | amDateFormat:'DD.MM.YYYY HH:mm'}}
            </span>

          </div>
          <div fxFlex="30" fxLayout="column" fxLayoutAlign="end center" class="typeWrap" >
            <div class="ticketType">
              {{ticketTime(ticket)}}
            </div>
            <div class="reduced">
              {{ticket.reduced?"ulgowy":"normalny"}}
            </div>
          </div>
          <div fxFlex fxLayout="column" class="priceWrap"  fxLayoutAlign="end right">
            <div class="drawCount">
              {{getDrawCountString(ticket.multiplier)}}<br>
            </div>
            <div class="price">
              {{ticket.price}}ZŁ
            </div>
          </div>
        </div>
      </mat-card>

    </div>


  </div>



  <div fxFlex>

  </div>
</div>
