@import '~@angular/material/theming';
@import "variables";

:host {
  width: 100%;

  .title {
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 500;
  }

  .summary {
    margin-top: 8px;
    margin-bottom: 16px;
    margin-right: 8px;
    font-weight: 500;
  }

}



.ticket {
  background-color: white;
  //color: #07bb07;
  margin-bottom: 5px;

  .validThruDesc {
    font-size: 12pt;
  }

  .validThruDesc {
    font-weight: lighter;
    font-size: 10pt;
  }

  .typeWrap {
    display: block;

    ticketType {
      margin-bottom: 10px;
      font-size: 16pt;
    }

    .reduced {
      font-weight: lighter;
      font-size: 10pt;

    }
  }

  .priceWrap {
    display: block;

    .drawCount {
      font-weight: 700;
      font-size: 16pt;
      color: $primary;
      text-align:right;
      margin-bottom: 10px;
    }

    .price {
      text-align:right;
      //font-weight: 700;
      //font-size: 16pt;
    }

  }

}