<div fxLayout="column" fxLayoutAlign="8px" fxFlexAlign="start center">
  <div fxLayout="row" fxLayoutAlign="center stretch" class="conditions-row" fxLayoutGap="4px">
    <div fxFlex>
      <app-winning-chance-factor [active]="isRushHour()"
                                 [icon]="'access_time'"
                                 [subtitle]="getTime()"
                                 [description]="isRushHour() ? 'Godziny szczytu' : 'Poza szczytem'"
                                 (scratched)="onScratched(true)">
      </app-winning-chance-factor>
    </div>

    <div fxFlex>
      <app-winning-chance-factor [active]="false"
                                 [icon]="'directions_car'"
                                 [subtitle]="'ul. Modlińska'"
                                 [description]="'Mały ruch'"
                                 (scratched)="onScratched(false)"></app-winning-chance-factor>
    </div>

    <div fxFlex>
      <app-winning-chance-factor [active]="isBadAir()"
                                 [icon]="'cloud'"
                                 [subtitle]="'Tarchomin'"
                                 [description]="isBadAir() ? 'Strefa zanieczyszczenia' : 'Czyste powietrze'"
                                 (scratched)="onScratched(true)"></app-winning-chance-factor>
    </div>
  </div>
</div>
