@import "variables";

:host {
  margin-top: 16px;

  .title {
    color: $dark-secondary-text;
    font-size: 14px;
    text-align: center;
  }

  .label {
    font-size: 14px;
    text-align: center;
  }

  .conditions-row {
    .vertical-separator {
      margin-left: 50%;
      height: 80px;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  .horizontal-separator {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  }
}
