<div fxLayout="column" fxLayoutGap="16px">
  <div fxLayout="column" fxLayoutAlign="start center">
    <div class="title">
      Do losowania pozostało:
    </div>

    <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="8px">
      <div fxLayout="row" fxLayoutAlign="start end">
        <ng2-odometer [number]="getHoursLeft()" [config]="{theme: 'minima'}" class="amount"></ng2-odometer>
        <div class="currency">
          h
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="start end">
        <ng2-odometer [number]="getMinutesLeft()" [config]="{theme: 'minima'}" class="amount"></ng2-odometer>
        <div class="currency">
          m
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="start end">
        <ng2-odometer [number]="getSecondsLeft() | async" [config]="{theme: 'minima'}" class="amount"></ng2-odometer>
        <div class="currency">
          s
        </div>
      </div>
    </div>

  </div>
</div>
