<div fxLayout="column" fxLayoutAlign="8px" fxFlexAlign="start center">
  <div fxLayout="row" fxLayoutAlign="center stretch" class="conditions-row" fxLayoutGap="4px">
    <mat-card fxFlex>
      <app-weather [cityInfo]="(cityInfo | async)"></app-weather>
    </mat-card>

    <mat-card fxFlex>
      <app-air-conditions [cityInfo]="(cityInfo | async)"></app-air-conditions>
    </mat-card>
  </div>
</div>
