@import "styles";
@import "~@angular/material/theming";

:host {
  mat-card {
    color: rgba(0, 0, 0, 0.56);
    background-color: rgba(255, 255, 255, 0.3);

    &.active {
      color: mat-color($primary, 800);
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  .label {
    font-size: 14px;
    text-align: center;
  }

  .conditions-row {

    .vertical-separator {
      margin-left: 50%;
      height: 80px;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  .horizontal-separator {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  }
}
