.title {
  text-align: center;
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 600;
}

.multiplier-row {
  text-align: center;
  margin-bottom: 12px;

  .amount {
    font-size: 72px;
    line-height: 64px;
    font-weight: 400;
  }

  .equals {
    font-size: 54px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .unit {
    font-size: 24px;
    font-weight: 900;
  }
}
