@import "styles";
@import "~@angular/material/theming";

:host {
  .bottom-navigation {
    height: 64px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);

    .nav-btn {
      height: 100%;
      color: rgba(0, 0, 0, 0.56);
      background: none;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;

      &.active {
        color: mat-color($primary);
      }
    }
  }

  mat-toolbar {
    font-size: 32px;

    .logo {
      height: 100%;
      width: 54px;
      background: url("/assets/zielony-bilet.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
