<div fxLayout="column" fxLayoutAlign="start stretch" fxFill>
    <mat-toolbar class="mat-elevation-z4" fxLayout="row" fxLayoutAlign="center center">
        <div class="logo"></div>

        <div>Zielona Loteria</div>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <div fxLayout="row" fxLayoutAlign="start center" class="bottom-navigation">
        <button fxLayout="column"
                fxLayoutAlign="center center"
                fxFlex="50"
                class="nav-btn"
                matRipple
                routerLinkActive="active"
                routerLink="/home">
            <mat-icon>home</mat-icon>
            <span class="description">Graj</span>
        </button>

        <button fxLayout="column"
                fxLayoutAlign="center center"
                fxFlex="50"
                class="nav-btn"
                matRipple
                routerLinkActive="active"
                routerLink="/tickets">
            <mat-icon>receipt</mat-icon>
            <span class="description">Moje bilety</span>
        </button>
    </div>
</div>