@import "~@angular/material/theming";
@import "styles";

:host {
  .title {
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: 600;
  }

  .amount {
    font-size: calc(5vw + 5vh);
    line-height: calc(5vw + 5vh - 8px);
    font-weight: 400;
  }

  .currency {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: calc(1vw + 1vh);
  }
}
