<div fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="column" fxLayoutAlign="start center">
        <div class="title">
            Dzisiejsza Nagroda Główna
        </div>

        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="8px">
            <ng2-odometer [number]="(cityInfo | async)?.currentLotteryValue" [config]="{theme: 'minima'}" class="amount"></ng2-odometer>

            <div class="currency">
                PLN
            </div>
        </div>
    </div>

    <app-prize-pool-factors [cityInfo]="(cityInfo)"></app-prize-pool-factors>
</div>
