:host {
  display: flex;
  width: 100%;
  height: 100%;
  //background-color: $surface;
  background: url("/assets/background.jpg");
  background-size: cover;
  color: rgba(0, 0, 0, 0.8);

  .container {
    padding: 8px;
    width: 100%;
  }
}
