@import "variables";

:host {
  display: flex;
  height: 100%;

  & > div {
    width: 100%;
  }

  i {
    font-size: 40px;
  }

  .temp {
    margin-left: 4px;
    font-size: 12px;

    div {
      margin: auto;
    }
  }

  .description {
    font-size: 14px;
    text-align: center;
  }
}

.badge {
  position: absolute;
  top: 4px;
  right: 6px;
  font-size: 12px;
  color: $primary;
  text-align: right;
}
