<ng-container *ngIf="cityInfo">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
    <div fxLayout="row" fxFlexAlign="start center">
      <i class="wi wi-owm-{{ cityInfo?.weather.icon }}"></i>

      <div class="temp" fxLayout="column" fxFlexAlign="center center">
        <div>{{ cityInfo?.weather.temp }} °C</div>
      </div>
    </div>

    <div class="description" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <div>{{ cityInfo?.weather.kind }}</div>
    </div>
  </div>

  <div class="badge">
    <div fxLayout="row" fxLayoutAlign="end center">
      <mat-icon>arrow_drop_up</mat-icon>
      {{cityInfo?.weatherDotation}} PLN
    </div>
  </div>
</ng-container>

<mat-spinner *ngIf="!cityInfo" [diameter]="30"></mat-spinner>
