<div fxLayout="column" fxLayoutGap="16px">
  <div class="title">
    Wybierz bilet
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <app-ticket-type-radio-button *ngFor="let type of ticketTypes" [type]="type"
                                  [selected]="type === selectedType"
                                  [reduced]="reducedControl.value"
                                  (clicked)="selectedType = type"></app-ticket-type-radio-button>
  </div>

  <div>
    Rodzaj biletu:
    <mat-slide-toggle color="primary" [formControl]="reducedControl">
      {{reducedControl.value ? 'Ulgowy' : 'Normalny'}}
    </mat-slide-toggle>
  </div>

  <div class="multiplier-row">
    Mnożnik: 1 bilet = {{drawCountService.getDrawCountString()}}
  </div>

  <button mat-raised-button color="primary" class="cta" (click)="buyTicket()">
    KUP I SKASUJ BILET
  </button>
</div>
