.title {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.multiplier-row {
  margin-top: 12px;
  margin-bottom: 8px;
  font-weight: 600;
}

.cta {
  margin-top: 8px;
  width: 100%;
  height: 48px;
  font-size: 20px;
  text-transform: uppercase;
}
