<div fxLayout="column"
     class="container">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
        <app-prize-pool [cityInfo]="(cityInfo)"></app-prize-pool>
    </div>

    <app-winning-chance></app-winning-chance>

    <button mat-raised-button color="primary" class="cta" (click)="openBottomSheet()">
        KUP 1 BILET = {{drawCountService.getDrawCountString()}}
    </button>
</div>

<iframe *ngIf="showCongrats" id="congrats" src="http://barpetcb.nazwa.pl/great-job/"></iframe>