@import '~@angular/material/theming';
@import "styles";

:host {
  display: flex;
  width: 100%;
  height: 100%;
  //background-color: $surface;
  background: url("/assets/background.jpg");
  background-size: cover;
  color: rgba(0, 0, 0, 0.8);

  .container {
    width: 100%;
    padding: 8px;

    .cta {
      margin-top: 8px;
      width: 100%;
      height: 48px;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}

#congrats {
  position: fixed;
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(0,0,0, 0.5);
}
