@import '~@angular/material/theming';
@import "variables";


$typography: mat-typography-config(
  $font-family: 'Lato'
);
@include mat-core($typography);


$primary-palette-definition: (
  50 : $primary-50,
  100 : $primary-100,
  200 : $primary-200,
  300 : $primary-300,
  400 : $primary-400,
  500 : $primary-500,
  600 : $primary-600,
  700 : $primary-700,
  800 : $primary-800,
  900 : $primary-900,
  A100 : saturate($primary-100, 0.1),
  A200 : saturate($primary-200, 0.1),
  A400 : saturate($primary-300, 0.1),
  A700 : saturate($primary-400, 0.1),
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $dark-primary-text,
    500 : $text-on-primary,
    600 : $text-on-primary,
    700 : $text-on-primary,
    800 : $text-on-primary,
    900 : $text-on-primary,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  )
);

$accent-palette-definition: (
  50 : $accent-50,
  100 : $accent-100,
  200 : $accent-200,
  300 : $accent-300,
  400 : $accent-400,
  500 : $accent-500,
  600 : $accent-600,
  700 : $accent-700,
  800 : $accent-800,
  900 : $accent-900,
  A100 : saturate($accent-100, 0.1),
  A200 : saturate($accent-200, 0.1),
  A400 : saturate($accent-300, 0.1),
  A700 : saturate($accent-400, 0.1),
  contrast: (
    50 : $dark-secondary-text,
    100 : $dark-secondary-text,
    200 : $dark-secondary-text,
    300 : $dark-secondary-text,
    400 : $dark-secondary-text,
    500 : $text-on-accent,
    600 : $text-on-accent,
    700 : $text-on-accent,
    800 : $text-on-accent,
    900 : $text-on-accent,
    A100 : $dark-secondary-text,
    A200 : $dark-secondary-text,
    A400 : $dark-secondary-text,
    A700 : $dark-secondary-text,
  )
);

$primary-palette: mat-palette($primary-palette-definition, 800, 100, 900);
$accent-palette: mat-palette($accent-palette-definition, 800, 50, 900);

$theme: mat-light-theme($primary-palette, $accent-palette);
@include angular-material-theme($theme);

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$warn: map-get($theme, accent);
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

html, body {
  width: 414px;
  height: 736px;
  max-width: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', "Helvetica Neue", sans-serif;
}

mat-card > div {
  height: 100%;
}
