$surface: #f5f5f5;
$light: #FFFFFF;
$dark: #F5F5F5;

$high-emphasis: 0.87;
$medium-emphasis: 0.6;
$disabled: 0.38;


$primary: #00822F;
$primary-900: #00621C;
$primary-800: #00822F;
$primary-700: #00933B;
$primary-600: #00A547;
$primary-500: #00B450;
$primary-400: #3CC06B;
$primary-300: #66CB85;
$primary-200: #96D9A8;
$primary-100: #C0E8CA;
$primary-50: #E5F6EA;
$text-on-primary: #FBFBFB;


$accent: #FF9605;
$accent-900: #FF7700;
$accent-800: #FF9605;
$accent-700: #FFA709;
$accent-600: #FEB90F;
$accent-500: #FEC817;
$accent-400: #FED02F;
$accent-300: #FED02F;
$accent-200: #FEE485;
$accent-100: #FEEEB5;
$accent-50: #FFF9E2;
$text-on-accent: #262626;

$status-error: #c50000;
$status-ok: #6c9300;


$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$card-border-radius: 8px;
