<mat-card [class.active]="active">

  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>
        {{icon}}
      </mat-icon>

      <div class="subtitle" fxLayout="column" fxLayoutAlign="center center">
        <div>{{subtitle}}</div>
      </div>
    </div>

    <div class="description" fxFlex fxLayout="column" fxLayoutAlign="center center">
      <div>
        {{description}}
      </div>
    </div>
  </div>

  <div class="badge" *ngIf="active">
    +1 los
  </div>
  <div [class]="icon + '-scratch-card scratch-card'"></div>
</mat-card>
