@import "styles";
@import "~@angular/material/theming";

:host {
  margin-top: 8px;
  display: flex;
  height: 100%;

  mat-card {
    width: calc((100vw - 24px) / 3 - 16px);
    height: calc((100vw - 24px) / 3 - 16px);
    color: rgba(0, 0, 0, 0.56);
    background-color: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    padding: 8px;

    &.active {
      color: mat-color($primary, 800);
      background-color: rgba(255, 255, 255, 0.9);
    }

    .scratch-card {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .badge {
      position: absolute;
      top: 6px;
      right: 6px;
      font-size: 12px;
    }

    mat-icon {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 40px;
    }

    .subtitle {
      margin-left: 4px;
      font-size: 12px;

      div {
        margin: auto;
      }
    }

    .description {
      font-size: 14px;
      text-align: center;
    }

  }
}
