<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
  <div class="circle" [class.selected]="selected" fxLayout="column" fxLayoutAlign="center center"
       (click)="clicked.next()">
    <div>{{getName()}}</div>
  </div>

  <div>
    {{getPriceString()}} PLN
  </div>
</div>
