@import "variables";

.circle {
  width: 64px;
  height: 64px;
  border: 2px solid rgba(0, 0, 0, 0.87);
  border-radius: 32px;

  &.selected {
    border-color: $primary;
    color: rgba(255, 255, 255, 0.87);
    background-color: $primary;
  }
}
