<ng-container *ngIf="cityInfo">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px" class="container">
    <div fxLayout="row" fxFlexAlign="start center">
      <mat-icon>
        {{getIcon()}}
      </mat-icon>
    </div>

    <div class="description">
      {{getDescription()}}
    </div>
  </div>

  <div class="badge">
    <div fxLayout="row" fxLayoutAlign="end center">
      <mat-icon>arrow_drop_up</mat-icon>
      {{cityInfo?.smogDotation}} PLN
    </div>
  </div>
</ng-container>

<mat-spinner *ngIf="!cityInfo" [diameter]="30"></mat-spinner>
