@import "variables";

.container {
  mat-icon {
    margin-top: 4px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
  }

  .subtitle {
    margin-left: 4px;
    font-size: 12px;

    div {
      margin: auto;
    }
  }

  .description {
    font-size: 14px;
    text-align: center;
  }
}

.badge {
  position: absolute;
  top: 4px;
  right: 6px;
  font-size: 12px;
  color: $primary;
  text-align: right;
}
